<div id="kl_btns" class="bottom buttons">
	<div id="kl_flash" class="alert alert-dismissable hidden">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  	<div></div>
	</div>
	<%= button_to "新建", new_knowledge_path, method: :get, class:"btn btn-primary" %>

	<%= render partial: "knowledges/form", locals: {knowledge: @knowledge} %>
	<input type="button" id="modify_knowledge_btn", class="btn btn-primary" value="修改"/>
	
	<span class="pull-right">
		<% if hours_passed(@knowledge) < 24 %>
			<%= button_to "删除", knowledge_path(@knowledge), method: :delete, class:"btn btn-danger", data:{confirm: "Are you sure?"} unless @knowledge.new_record? %>
		<% else %>
			<small id="kl-tips" class="text-muted top center-block hidden">小Tips: 知识保存超过一天后，就将永远保存。</small>
		<% end %>
	</span>
</div>

<div id="content_area">
	<!-- 编辑框 -->
	<%= render partial: "knowledges/editor", locals: {knowledge: @knowledge} %>
	
	<div >
	  <input type="text" name="copy_html" value="" id="copy_html" class="hidden">              
	</div>
	
	<hr class="divider">

	<div id="comment_area">
		<%= render "comments/comments" %>
	</div>
</div>

